@import url('https://fonts.googleapis.com/css2?family=Viga&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100&family=Viga&display=swap');

:root {
  --bgColor: #4da167;
  --secondColor: #3bc14a;
  --thridColor: #ffb400;
  --fourthColor: #c43408;
  --principalFont: Viga;
  --secondaryFont: Roboto;
}

.dark {
  --bgColor: #1a1a1a;
  --secondColor: #57acdc;
  --thridColor: #57dcbe;
  --fourthColor: #e91e63;
}

* {
  padding: 0;
  margin: 0;
}
/* --------------NAVIGATION BAR------------ */
nav {
  background-color: var(--thridColor);
  width: 95%;
  height: 10vh;
  margin: 0.8rem;
  border-radius: 10px;
  box-shadow: -5px 10px 10px rgba(0, 0, 0, 0.25);
  position: absolute;
  bottom: 0;
}

.gridNav {
  display: grid;
  width: 100%;
  height: 100%;
  grid-template-columns: repeat(5, 1fr);
  grid-template-rows: 1fr;
}

li {
  display: flex;
  justify-content: center;
  align-items: center;
}
.icons {
  width: 30px;
  height: 30px;
}
#iconPlay {
  width: 50px;
  height: 50px;
}
a {
  text-decoration: none;
  color: black;
}

/* ----------------General ----------------*/
html {
  font-family: var(--principalFont);
}

body {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  color: white;
  background-color: var(--bgColor);
}

header {
  width: 100%;
  height: 10px;
}

/*--------------------- Footer ------------------------*/

footer {
  background-color: var(--thridColor);
  width: 95%;
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 50px;
  box-shadow: -5px -5px 4px rgba(0, 0, 0, 0.25);
  text-align: center;
}

footer p {
  padding: 10px;
  color: black;
}

/*-------------GAME PAGE------------------ */

/* Display countdown */

#countDown {
  margin: auto;
  position: absolute;
  top: 20%;
  color: var(--thridColor);
  font-size: 10rem;
}

/* Display score */
.score {
  font-family: var(--principalFont);
  font-size: 0.6rem;
  color: var(--thridColor);
  display: flex;
  width: 80%;
  margin-top: 20px;
  margin-bottom: 10px;
  justify-content: flex-start;
  align-items: baseline;
}

#score {
  margin-left: 10px;
  margin-right: 5px;
}

/* Display game */
#gameBoard {
  width: 80%;
  max-width: 1000px;
  max-height: 1000px;
  min-width: 300px;
  min-height: 300px;
  border-radius: 20px;
  margin-bottom: 50px;
  background-color: var(--secondColor);
  box-shadow: 0px 4px 20px 0px #00000080 inset;
}

#imgGame {
  display: none;
}

/* Style for the gamepad */
.gamepadBtn {
  display: grid;
  width: 150px;
  height: 150px;
  background-image: url(assets/GamePad_NM.png);
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, 1fr);
}

.directionBtn {
  background-color: transparent;
  background-repeat: no-repeat;
  border: none;
  cursor: pointer;
  overflow: hidden;
  outline: none;
}

#up {
  grid-column: 2;
  grid-row: 1;
}

#down {
  grid-column: 2;
  grid-row: 3;
}

#left {
  grid-column: 1;
  grid-row: 2;
}

#right {
  grid-column: 3;
  grid-row: 2;
}

/* --------GAME OVER PAGE -----------*/

/* Display game */
#gameOver {
  font-size: 1.5rem;
  color: var(--thridColor);
  text-shadow: 0px 4px 4px var(--fourthColor);

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 80%;
  max-width: 1000px;
  max-height: 1000px;
  min-width: 300px;
  min-height: 300px;
  border-radius: 20px;
  background-color: var(--secondColor);
  margin-bottom: 50px;
  margin-top: 50px;
  box-shadow: 0px 4px 20px 0px #00000080 inset;
}

.scoreOver {
  font-size: 1rem;
}

/*Name for the score board */

.gamerName {
  text-align: center;
}

.gamerName label {
  font-size: 1.5rem;
  color: var(--thridColor);
  text-align: center;
}

#nameInput {
  background: var(--secondColor);
  box-shadow: 0px 4px 20px 0px #00000080 inset;
  border-radius: 20px 0px 0px 20px;
  width: 100%;
  height: 40px;
  text-align: center;
  font-family: var(--principalFont);
}

#nameInputBtn {
  width: 60px;
  height: 45px;
  background: var(--thridColor);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 0px 20px 20px 0px;
  cursor: pointer;
  font-size: 2rem;
}

.inputGamer {
  display: flex;
  justify-content: center;
  align-items: center;
}

/* --------Desktop version / Adaption -----------*/

.desktop {
  display: none;
}

.desktop:hover {
  color: var(--fourthColor);
}

@media screen and (min-width: 768px) {
  .mobile {
    display: none;
  }

  .desktop {
    display: block;
  }

  nav {
    position: initial;
    order: -1;
    width: 100%;
    height: 50px;
    box-shadow: -5px -5px 4px rgba(0, 0, 0, 0.25);
    margin: initial;
    border-radius: initial;
    box-shadow: -5px 10px 10px rgba(0, 0, 0, 0.25);
  }
} ;
