@import url('https://fonts.googleapis.com/css2?family=Viga&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100&family=Viga&display=swap');

:root {
  --bgcolor: #4da167;
  --secondColor: #3bc14a;
  --thridColor: #ffb400;
  --fourthColor: #c43408;
}

.dark {
  --bgcolor: #1a1a1a;
  --secondColor: #57acdc;
  --thridColor: #57dcbe;
  --fourthColor: #e91e63;
}

* {
  padding: 0;
  margin: 0;
  font-family: Viga, 'sans serif';
}

body {
  display: flex;
  flex-direction: column;
  background-color: var(--bgcolor);
}

main {
  height: 88.5vh;
}

/* NAVIGATION BAR */

nav {
  background-color: var(--thridColor);
  height: 10vh;
  width: 95%;
  margin: 0 0.6rem;
  border-radius: 10px;
  box-shadow: -5px 10px 10px rgba(0, 0, 0, 0.25);
}

.gridNav {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-template-rows: 1fr;
  height: 100%;
}

nav ul {
  list-style: none;
}

li {
  display: flex;
  justify-content: center;
  align-items: center;
}

.icons {
  width: 30px;
  height: 30px;
}

#iconPlay {
  width: 50px;
  height: 50px;
}

a {
  text-decoration: none;
  color: black;
}

.desktop {
  display: none;
}

.desktop:hover {
  color: var(--fourthColor);
}

/* FOOTER */

footer {
  background-color: var(--thridColor);
  width: 95%;
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 50px;
  box-shadow: -5px -5px 4px rgba(0, 0, 0, 0.25);
  text-align: center;
}

footer p {
  padding: 10px;
}

h1 {
  color: var(--thridColor);
  text-shadow: 0px 4px 4px var(--fourthColor);
  font-weight: 400;
  font-size: 3rem;
  padding-top: 40px;
  text-align: center;
}

/* PODIUM */

h2 {
  color: var(--thridColor);
  font-weight: 400;
}

h3 {
  color: white;
  text-transform: lowercase;
  font-weight: 400;
}
.firstName {
  color: var(--thridColor);
  text-align: center;
  width: 90vw;
  height: 10vh;
  margin: 20px auto 20px auto;
}
.firstName p {
  font-size: 2rem;
}

.Podium {
  text-align: center;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, 1fr);
  width: clamp(100px, 80vw, 500px);
  height: 30vh;
  margin: 0px auto;
}

.secondName {
  grid-column: 1 / 2;
  grid-row: 1 / 2;
}

.secondPlace {
  grid-column: 1 / 2;
  grid-row: 2 / 4;
  background-color: var(--thridColor);
  box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.25);
  border-radius: 3px;
}

.firstPlace {
  grid-column: 2 / 3;
  grid-row: 1 / 4;
  background-color: var(--thridColor);
  box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.25);
  border-radius: 3px;
}

.thirdName {
  grid-column: 3 / 4;
  grid-row: 2 / 3;
}

.thirdPlace {
  grid-column: 3 / 4;
  grid-row: 3 / 4;
  background-color: var(--thridColor);
  box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.25);
  border-radius: 3px;
}

.secondPlace > p,
.firstPlace > p {
  padding-top: 20px;
  color: var(--fourthColor);
  font-size: 30pt;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.thirdPlace > p {
  padding-top: 5px;
  color: var(--fourthColor);
  font-size: 30pt;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

/* TABLEAU DES SCORES*/

.scoreSection {
  display: flex;
  justify-content: center;
}
.tableau {
  margin-top: 20px;
  padding: 15px 0px;
  width: clamp(100px, 80vw, 500px);
  background-color: var(--secondColor);
  box-shadow: inset 0px 4px 20px rgba(0, 0, 0, 0.5);
  border-radius: 15px;
}

table {
  margin: auto;
  width: 90%;
  border-collapse: collapse;
  color: white;
}

td {
  text-align: center;
}

.centerName {
  border-left: 1px dotted black;
  border-right: 1px dotted black;
}

@media screen and (min-width: 768px) {
  body {
    flex-direction: column-reverse;
  }

  h1 {
    padding-top: 50px;
  }

  /* NAVIGATION BAR */
  nav {
    border-radius: 0px;
    margin: 0;
    width: 100%;
    height: 50px;
    box-shadow: -5px 10px 10px rgba(0, 0, 0, 0.25);
  }

  .mobile {
    display: none;
  }
  .desktop {
    display: block;
  }

  .firstName {
    margin-top: 10px;
  }

  /* PODIUM */
  .Podium {
    height: 200px;
  }
}
