:root {
  --bgColor: #4da167;
  --secondColor: #3bc14a;
  --thridColor: #ffb400;
}

/* --------------NAVIGATION BAR------------ */

nav {
  background-color: var(--thridColor);
  height: 8vh;
  width: 90%;
  margin-top: 30px;
  border-radius: 10px;
  box-shadow: -5px 10px 10px rgba(0, 0, 0, 0.25);
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.gridNav {
  display: grid;
  width: 100%;
  height: 100%;
  grid-template-columns: repeat(5, 1fr);
  grid-template-rows: 1fr;
}

li {
  display: flex;
  justify-content: center;
  align-items: center;
}

.icons {
  width: 30px;
  height: 30px;
}

#iconPlay {
  width: 50px;
  height: 50px;
}

a {
  text-decoration: none;
  color: black;
}

/*-------------GAME PAGE------------------ */
* {
  padding: 0;
  margin: 0;
}

/* General */
html {
  background-color: var(--bgColor);
}

body {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  color: white;
}

header {
  background-color: var(--thridColor);
}

footer {
  background-color: var(--thridColor);
  height: 8vh;
  width: 95%;
  position: absolute;
  bottom: 0;
  width: 100%;
  padding-top: 50px;
  height: 30px;
}

.desktop {
  display: none;
}

/* Display score */
.score {
  color: var(--thridColor);
  display: flex;
  width: 80%;
  justify-content: flex-start;
  align-items: baseline;
}

/* Display game */
canvas {
  width: 80%;
  height: 300px;
  border-radius: 20px;
  background-color: var(--secondColor);
  margin-bottom: 50px;
  box-shadow: 0px 4px 20px 0px #00000080 inset;
}

/* Style for the gamepad */
.gamepadBtn {
  display: grid;
  width: 150px;
  height: 150px;
  background-image: url(assets/GamePad.png);
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, 1fr);
}

.directionBtn {
  background-color: transparent;
  background-repeat: no-repeat;
  border: none;
  cursor: pointer;
  overflow: hidden;
  outline: none;
}

#up {
  grid-column: 2;
  grid-row: 1;
}

#down {
  grid-column: 2;
  grid-row: 3;
}

#left {
  grid-column: 3;
  grid-row: 2;
}

#right {
  grid-column: 1;
  grid-row: 2;
}

/* --------Desktop version / Adaption -----------*/

@media screen and (min-width: 600px) {
  .mobile {
    display: none;
  }

  .desktop {
    display: block;
  }

  nav {
    order: -1;
  }
} ;
