@import url('https://fonts.googleapis.com/css2?family=Viga&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100&family=Viga&display=swap');

:root {
  --bgColor: #4da167;
  --secondColor: #3bc14a;
  --thridColor: #ffb400;
  --shadowcolor: #c43408;
  --principalFont: Viga;
  --secondaryFont: Roboto;
}

.dark {
  --bgColor: #1a1a1a;
  --secondColor: #57acdc;
  --thridColor: #57dcbe;
  --shadowcolor: #e91e63;
}

* {
  font-family: Viga;
  margin: 0;
  padding: 0;
}

body {
  background-color: var(--bgColor);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

h1 {
  color: var(--thridColor);
  font-size: 10vw;
  text-shadow: 0px 4px 4px var(--shadowcolor);
  margin: 50px;
}

/* NAVIGATION BAR */

nav {
  background-color: var(--thridColor);
  height: 10vh;
  margin: 0.8rem;
  position: absolute;
  bottom: 0;
  width: 95%;
  border-radius: 10px;
  box-shadow: -5px 10px 10px rgba(0, 0, 0, 0.25);
}

.gridNav {
  display: grid;
  width: 100%;
  height: 100%;
  grid-template-columns: repeat(5, 1fr);
  grid-template-rows: 1fr;
}

li {
  display: flex;
  justify-content: center;
  align-items: center;
}
.icons {
  width: 30px;
  height: 30px;
}
#iconPlay {
  width: 50px;
  height: 50px;
}
a {
  text-decoration: none;
  color: black;
}

/*--------------------- Footer ------------------------*/

footer {
  background-color: var(--thridColor);
  width: 95%;
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 50px;
  box-shadow: -5px -5px 4px rgba(0, 0, 0, 0.25);
  text-align: center;
}

footer p {
  padding: 10px;
}

/* -----------------Display for desktop ----------------*/

.desktop {
  display: none;
}

.desktop:hover {
  color: var(--shadowcolor);
}

@media screen and (min-width: 768px) {
  .mobile {
    display: none;
  }

  .desktop {
    display: block;
  }

  nav {
    position: initial;
    order: -1;
    width: 100%;
    height: 50px;
    box-shadow: -5px -5px 4px rgba(0, 0, 0, 0.25);
    margin: initial;
    border-radius: initial;
    box-shadow: -5px 10px 10px rgba(0, 0, 0, 0.25);
  }
} ;
